body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    background: #181818;
    color: #fff;
    overflow: hidden;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

#wrapper {
    display:flex;
    flex-direction: row;
}

#left {
    display:flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

#right {
flex: 1;

}


/* Sign in */
#signin {
    display: flex;
    flex-direction column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 1rem;
}